* {
    font-family: Roboto;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0x;
    display: flex;
    gap: 14px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

img {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882f6;
}

button {
    background-color: #3882f6;
}

body {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0 100px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header-logo {
    font-size: 24pxpx;
    color: #f9faf8;
}

.body {
    display: flex;
    margin-bottom: 50px;
}

.body-left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 8px;
}

.body-right {
    width: 500px;

}

.body-header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.body-text {
    font-size: 18px;
    color: #e5e7eb;
}

.body-button {
    max-width: 100px;
}

.flex-2 {
    display: flex;
    padding: 20px 0 40px 0;
    text-align: center;
    flex-direction: column;
    gap: 40px;
}

.title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.info {
    width: 150px;
  }

.flex-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    padding: 20px 0 40px 0;
}

.qoute {
    width: 700px;
}

.qoute.author {
    margin-top: 8px;
    text-align: right;
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
}